.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-cream);
}

.main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

